<!-- views/partials/footer.ejs -->
    <footer>
        <!-- Your footer content here -->
    </footer>
    <!-- Tabler JS -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var navbarToggler = document.querySelector('.navbar-toggler');
            var navbarCollapse = document.querySelector('.navbar-collapse');
        
            navbarToggler.addEventListener('click', function () {
                navbarCollapse.classList.toggle('show');
            });
        });
    </script>
</body>
</html>